*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.output,
.calculation {
  width: 30rem;
  margin: 0;
  font-size: 3rem;
  padding: 0;
  text-align: center;
  background-color: #c0c0c0;
  border: solid 0.1rem black;
}
.calculation {
  font-style: italic;
  font-size: 2rem;
  padding: 2.5rem 0;
  height: 7rem;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
}
.buttons {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;

  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}
.funcs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}
.nums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.button {
  padding: 1.5rem;
  font-size: 1.5rem;
}
.AC {
  background-color: #e9692c;
  transition: all 0.1s linear;
}
.AC:hover {
  background-color: #ed9121;
}
